---
import { Image } from "astro:assets";
import HeroImage from "../assets/display-pic.jpg";
import Button from "./Button.astro";
---

<div class="w-full h-screen relative">
  <Image
    src={HeroImage}
    alt="Hero Image"
    class="w-full h-full object-cover object-center overflow-hidden"
  />
  <div class="absolute z-10 inset-0 text-white p-4">
    <div class="max-w-5xl mx-auto mt-32">
      <h1 class="text-6xl max-w-md font-bold">Shine bright, party right!</h1>

      <p class="mt-6 text-xl">Get the glow!</p>
    </div>
    <div class="absolute bottom-56 left-0 w-full p-4">
      <div class="max-w-5xl mx-auto">
        <Button link="/product" text="Get it now" />
      </div>
    </div>
  </div>
</div>
