---
import { Image } from "astro:assets";
import FooterLogo from "../../assets/logo.png";
---

<footer class="p-8 py-24 bg-black text-white text-center">
  <Image src={FooterLogo} alt="Garner Massive Deals Logo" class="w-40 m-auto" />
  <div class="m-6">
    <span
      >Garner Massive Deals is a registered Doing Business As (DBA) for Little
      Warrior Legacy LLC.</span
    >
  </div>
</footer>
