---
import { Icon } from "astro-icon/components";
---

<div class="flex gap items-center">
  <Icon name="mdi:star" class="text-yellow-400 text-3xl" />
  <Icon name="mdi:star" class="text-yellow-400 text-3xl" />
  <Icon name="mdi:star" class="text-yellow-400 text-3xl" />
  <Icon name="mdi:star" class="text-yellow-400 text-3xl" />
  <Icon name="mdi:star-half" class="text-yellow-400 text-3xl" />
</div>
