---
import { Icon } from "astro-icon/components";
interface Props {
  stars?: number;
}
const { stars = 4.5 } = Astro.props;
const fullStars = Math.floor(stars);
const halfStar = stars % 1 !== 0;
---

<div class="flex gap items-center">
  {
    Array.from({ length: fullStars }, (_, i) => (
      <Icon name="mdi:star" class="text-yellow-400 text-3xl" />
    ))
  }
  {halfStar && <Icon name="mdi:star-half" class="text-yellow-400 text-3xl" />}
</div>
